src/main/resources/wsdl/ReportManagementService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://webservices.er.psmfc.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://webservices.er.psmfc.org/" version="1.0">
<xs:element name="findUserLandingReports" type="tns:findUserLandingReports"/>
<xs:element name="findUserLandingReportsResponse" type="tns:findUserLandingReportsResponse"/>
<xs:element name="findUserLandingReports_001" type="tns:findUserLandingReports_001"/>
<xs:element name="findUserLandingReports_001Response" type="tns:findUserLandingReports_001Response"/>
<xs:element name="findUserProductionReports" type="tns:findUserProductionReports"/>
<xs:element name="findUserProductionReportsResponse" type="tns:findUserProductionReportsResponse"/>
<xs:element name="findUserProductionReports_001" type="tns:findUserProductionReports_001"/>
<xs:element name="findUserProductionReports_001Response" type="tns:findUserProductionReports_001Response"/>
<xs:element name="getFishTicketNumbers" type="tns:getFishTicketNumbers"/>
<xs:element name="getFishTicketNumbersResponse" type="tns:getFishTicketNumbersResponse"/>
<xs:element name="getFishTicketNumbers_001" type="tns:getFishTicketNumbers_001"/>
<xs:element name="getFishTicketNumbers_001Response" type="tns:getFishTicketNumbers_001Response"/>
<xs:element name="getFishTicketNumbers_002" type="tns:getFishTicketNumbers_002"/>
<xs:element name="getFishTicketNumbers_002Response" type="tns:getFishTicketNumbers_002Response"/>
<xs:element name="getLandingReport" type="tns:getLandingReport"/>
<xs:element name="getLandingReportResponse" type="tns:getLandingReportResponse"/>
<xs:element name="getLogbook" type="tns:getLogbook"/>
<xs:element name="getLogbookInfo" type="tns:getLogbookInfo"/>
<xs:element name="getLogbookInfoResponse" type="tns:getLogbookInfoResponse"/>
<xs:element name="getLogbookResponse" type="tns:getLogbookResponse"/>
<xs:element name="getLogger" type="tns:getLogger"/>
<xs:element name="getLoggerResponse" type="tns:getLoggerResponse"/>
<xs:element name="getObsfeeEstimateReportsByProcessorDateRange" type="tns:getObsfeeEstimateReportsByProcessorDateRange"/>
<xs:element name="getObsfeeEstimateReportsByProcessorDateRangeResponse" type="tns:getObsfeeEstimateReportsByProcessorDateRangeResponse"/>
<xs:element name="getOperations" type="tns:getOperations"/>
<xs:element name="getOperationsResponse" type="tns:getOperationsResponse"/>
<xs:element name="getProductionReport" type="tns:getProductionReport"/>
<xs:element name="getProductionReportResponse" type="tns:getProductionReportResponse"/>
<xs:element name="getReportNumbers" type="tns:getReportNumbers"/>
<xs:element name="getReportNumbersResponse" type="tns:getReportNumbersResponse"/>
<xs:element name="getUserInfo" type="tns:getUserInfo"/>
<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>
<xs:element name="saveLandingReport" type="tns:saveLandingReport"/>
<xs:element name="saveLandingReportResponse" type="tns:saveLandingReportResponse"/>
<xs:element name="saveProductionReport" type="tns:saveProductionReport"/>
<xs:element name="saveProductionReportResponse" type="tns:saveProductionReportResponse"/>
<xs:element name="submitFinalLandingReport" type="tns:submitFinalLandingReport"/>
<xs:element name="submitFinalLandingReportResponse" type="tns:submitFinalLandingReportResponse"/>
<xs:element name="submitInitialLandingReport" type="tns:submitInitialLandingReport"/>
<xs:element name="submitInitialLandingReportResponse" type="tns:submitInitialLandingReportResponse"/>
<xs:element name="submitProductionReport" type="tns:submitProductionReport"/>
<xs:element name="submitProductionReportResponse" type="tns:submitProductionReportResponse"/>
<xs:complexType name="getFishTicketNumbers_001">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFishTicketNumbers_001Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLogbookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLogbookInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFishTicketNumbers_002">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFishTicketNumbers_002Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="submitProductionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="submitProductionReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="saveProductionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="saveProductionReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserProductionReports_001">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
      <xs:element minOccurs="0" name="arg9" type="xs:string"/>
      <xs:element minOccurs="0" name="arg10" type="xs:string"/>
      <xs:element minOccurs="0" name="arg11" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg12" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg13" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg14" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserProductionReports_001Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLogger">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getLoggerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:logger"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="logger">
    <xs:complexContent>
      <xs:extension base="tns:category">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="category">
    <xs:sequence>
      <xs:element name="additivity" type="xs:boolean"/>
      <xs:element minOccurs="0" name="level" type="tns:level"/>
      <xs:element minOccurs="0" name="resourceBundle" type="tns:resourceBundle"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="level">
    <xs:complexContent>
      <xs:extension base="tns:priority">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
<xs:complexType name="priority">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType abstract="true" name="resourceBundle">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="saveLandingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="saveLandingReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="submitInitialLandingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="submitInitialLandingReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getObsfeeEstimateReportsByProcessorDateRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg7" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getObsfeeEstimateReportsByProcessorDateRangeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="submitFinalLandingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="submitFinalLandingReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLandingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLandingReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserProductionReports">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
      <xs:element minOccurs="0" name="arg9" type="xs:string"/>
      <xs:element minOccurs="0" name="arg10" type="xs:string"/>
      <xs:element minOccurs="0" name="arg11" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg12" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserProductionReportsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLogbook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg5" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getLogbookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserLandingReports_001">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
      <xs:element minOccurs="0" name="arg9" type="xs:string"/>
      <xs:element minOccurs="0" name="arg10" type="xs:string"/>
      <xs:element minOccurs="0" name="arg11" type="xs:string"/>
      <xs:element minOccurs="0" name="arg12" type="xs:string"/>
      <xs:element minOccurs="0" name="arg13" type="xs:string"/>
      <xs:element minOccurs="0" name="arg14" type="xs:string"/>
      <xs:element minOccurs="0" name="arg15" type="xs:string"/>
      <xs:element minOccurs="0" name="arg16" type="xs:string"/>
      <xs:element minOccurs="0" name="arg17" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg18" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg19" type="xs:string"/>
      <xs:element minOccurs="0" name="arg20" type="xs:string"/>
      <xs:element minOccurs="0" name="arg21" type="xs:string"/>
      <xs:element minOccurs="0" name="arg22" type="xs:string"/>
      <xs:element minOccurs="0" name="arg23" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg24" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserLandingReports_001Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getOperations">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getOperationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getUserInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProductionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProductionReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserLandingReports">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
      <xs:element minOccurs="0" name="arg9" type="xs:string"/>
      <xs:element minOccurs="0" name="arg10" type="xs:string"/>
      <xs:element minOccurs="0" name="arg11" type="xs:string"/>
      <xs:element minOccurs="0" name="arg12" type="xs:string"/>
      <xs:element minOccurs="0" name="arg13" type="xs:string"/>
      <xs:element minOccurs="0" name="arg14" type="xs:string"/>
      <xs:element minOccurs="0" name="arg15" type="xs:string"/>
      <xs:element minOccurs="0" name="arg16" type="xs:string"/>
      <xs:element minOccurs="0" name="arg17" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg18" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="arg19" type="xs:string"/>
      <xs:element minOccurs="0" name="arg20" type="xs:string"/>
      <xs:element minOccurs="0" name="arg21" type="xs:string"/>
      <xs:element minOccurs="0" name="arg22" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="findUserLandingReportsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReportNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getReportNumbersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFishTicketNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getFishTicketNumbersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
